.slide-img {
  width: 100%;
}

.slick-prev {
  left: 10px;
  z-index: 2;
}

.slick-next {
  right: 20px;
}

.slick-dots li.slick-active button:before {
  color: var(--fixed-white-color);
  font-size: large;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: var(--fixed-white-color);
}
