.vid-listing-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-width: 100vw;
  margin-left: 1.2rem;
}

.vid-wrapper {
  min-height: 15rem;
  max-width: 22rem;
}

.vid-wrapper img {
  height: 14rem;
  width: 100%;
}

.vid-details {
  align-items: flex-start;
  color: var(--foreground-color);
  gap: 5px;
  padding: 10px;
  width: 100%;
}

.views-time-wrap {
  color: var(--fixed-grey-color);
}

.title-optionicon-wrap {
  width: 100%;
}

.search-msg {
  color: var(--foreground-color);
}

@media only screen and (max-width: 750px) {
  .vid-wrapper {
    flex-grow: 1;
  }
}
