.web-logo{
text-decoration: none;
}

.web-logo-img {
  width: 2rem;
  height: 2rem;
}

.header-bar {
  background-color: var(--accent--one-color);
  color: var(--foreground-color);
  z-index:999;
  position:fixed;
  top:0;
}

.header-left-content {
  align-items: center;
}

.header-right-content {
  margin-right: inherit;
}

.search-wrapper {
  border: 1px solid var(--foreground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.search-icon {
  font-size: 1.5rem;
}
.search-bar {
  outline: none;
  background-color: var(--accent--one-color);
  border: none;
  color: var(--foreground-color);
}
.profile-icon {
  font-size: 2rem;
}
.dropdown-menu {
  display: none;
}

.nav-elements{
  color:var(--foreground-color);
  text-decoration: none;
}

.profile-container{
  position:relative;
}

.profile-options{
position:absolute;
background-color: var(--accent--three-color);
z-index: 3;
right: 0;
padding:15px;
max-width:15rem;
height: 4rem;
border-radius:5px;
gap:10px;
}

.profile-options span:hover{
cursor:pointer;
}

.login-btn{
  text-decoration: none;
  color:var(--foreground-color);
  background-color: var(--secondary-color);
  padding:5px 10px;
  border-radius:5px;
}

@media only screen and (max-width: 750px) {
  .header-options {
    display: none;
  }
  .search-bar {
    display: none;
  }
  .search-wrapper {
    border: none;
  }
  .dropdown-menu {
    display: initial;
  }
}
