.footer-container {
  color: var(--foreground-color);
  position: sticky;
  background-color: var(--accent--one-color);
  padding: 7px;
  z-index: 2;
}

.footer-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
