.playlist-vid-wrapper {
  margin-top: 5rem;
  color:var(--foreground-color)
}

.playlist-vid {
  margin: auto;
  width: 100%;
}

.playlist-vid img {
  max-width: 10rem;
}

.playlists-videos-container {
  margin-top: 3rem;
  margin-left: auto;
}
