.playlist-poster {
  max-width: 10rem;
  max-height: 10rem;
}

.playlist-container {
  color: white;
  margin-top:10rem;
  flex-wrap: wrap;
}

.rel-img{
  position: relative;}

.playlist-title{
  position: absolute;
  z-index: 2;
  background: var(--accent--one-color);
  padding: 10px;
  width: 10rem;
  opacity: 0.7;
}